@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
#main{
  padding: 10px;
  background: linear-gradient(to right,rgb(191, 191, 191),rgb(249, 249, 249));
}
h1{
  text-align: center;
  padding-bottom: 20px;
}
.filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap:10px;
}
.filter-input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.filter-input input{
  padding: 10px;
  outline: none;
  border: 1.5px solid gray;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 0px 1px 0px gray;
}
.filter-input input:focus{
  border: 1.5px solid blue;
  box-shadow: 0px 0px 7px 0px gray;
}
.filter .btn{
  padding: 10px;
  border: 1.5px solid gray;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 0px 1.5px 0px gray;
  min-width: fit-content;
  width: 16vw;
}
.filter .btn:hover{
  background-color: rgb(225, 225, 225);
}
.filter .active{
  border: 1.5px solid blue;
  box-shadow: 0px 0px 7px 0px gray;
}
#table-wrapper{
  border: 1.5px solid gray;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px gray;
}
table{
  border-collapse: collapse;
  /* border: 1.5px solid gray; */
  width: 100%;
}
table td,table th{
  padding: 4px;
  text-align: center;
  /* border: 1.5px solid gray; */
}
table thead th{
  padding: 10px 5px;
  background-color: rgb(173, 173, 173);
}
table tbody tr:hover{
  background-color: rgb(173, 173, 173);
}

.red{
  color: red;
}
.green{
  color:green;
}